.skills
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	padding: 40px
	position: relative
	.title
		width: 100%
	> p
		text-align: center
	.all-skills
		display: grid
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
		grid-gap: 20px
		margin-top: 40px
		padding: 20px
