body 
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  width: 100%
  height: 100%
html
  width: 100%
  height: 100%
* 
  box-sizing: border-box

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

#root
  width: 100%
  height: 100%

.all
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  .all-content
    flex: 1
    padding: 40px
